body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f7f7f7;

  .naslov {
    margin: 0px 10px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    width: 40%;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid black;
      border-radius: 12px;
      width: 80px;
      text-align: center;
      margin: 10px;

      a {
        text-decoration: none;
        font-size: medium;
        color: black;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      width: 40%;
      gap: 10px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid black;
        border-radius: 12px;
        width: 80px;
        text-align: center;

        a {
          text-decoration: none;
          font-size: medium;
          color: black;
        }
      }
    }
  }
}

#table-details {
  padding: 1rem;
  display: flex;
  justify-content: center;

  table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 1rem;

    th,
    td {
      border: 1px solid black;
      padding: 0.5rem;
      text-align: left;
    }

    th {
      background-color: #f7f7f7;
      color: black;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }
}