@use '../styles/global.scss' as *;

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border: 2px solid #f7f7f7;

    label,
    p {
        font-weight: bold;
    }
}

.actions {
    #submitBtn:hover {
        width: 80px;
        height: 25px;
        color: black;
        border-radius: 5px;
        border-color: lightgrey;
        background-color: rgb(244, 244, 244);
        box-shadow: none;
    }
}

.tooltip {
    position: absolute;
    width: 120px;
    height: 110px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-top: 10px;
    border-radius: 15px;
}

.tooltiptext {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#submitBtn:hover+.tooltip {
    transition-delay: 3s;
    visibility: visible;
}

.hidden {
    display: none;
}

.spinner {
    margin: 20px;
    width: 100px;

    #picture {
        width: 100%;
    }
}